/* 行に背景色を付ける */
table {
    border-top:1px solid #5C443A;
    border-left:1px solid #5C443A;
    border-collapse:collapse;
    background:#ffffff;
    font-size:90%;
}
caption {
    color:#5C443A;
    font-weight:bold;
    text-align:center;
    text-transform: uppercase;
}
thead th, tfoot th, tfoot td {
    border-right:1px solid #5C443A;
    border-bottom:1px solid #5C443A;
    background:#5C443A;
    color:#ffffff;
    background-image:url(/images/table-back.gif);
    background-position:left top;
    padding:3px 10px 3px 10px;
    text-align:center;
 }
td, th {
    padding:4px;
}
tbody tr th, tbody tr td {
    border-right:1px solid #5C443A;
    border-bottom:1px solid #5C443A;
}
tbody tr:hover td, tbody tr:hover th {
    background: #996633;
    color: #ffffff;
}
tbody tr:hover td a, tbody tr:hover th a {
    background: #996633;
    color: #ffffff;
}
tbody td a, tbody th a {
    border: none;
    background: transparent;
    color: #000000;
    text-decoration: none;
}
tbody td a:hover, tbody th a:hover {
    background: #996633;
    color: #ffffff;
    text-decoration: underline;
}
.odd {
    background: #ffeebb;
}