<h1><%= @event.name %></h1>
<p><%= @event.start_at %></p>
<p><%= @event.end_at %></p>
<%# <a href=/events/delete>削除</a><br>


<%# <p><%= link_to "削除", :controller => "events", :action => "delete" %></p>
